.headerStyle {
    text-align: center;
    background-image: url("https://www.artnet.com/WebServices/images/ll00029lldePRJFgUKFJ3CfDrCWvaHBOcq4NF/gerhard-richter-fuji-(839-52).jpg");
    height: 400px;
    color: white;
    font-size: 30px;
    position: absolute;
}

